.box-paper {
  border: 1px solid #000;
  min-height: 325px;
}
.box-paper:hover {
  background-color: #34ac9c;
  color: #cccccc;
}

img {
  border-radius: 50%;
  border: 1px solid #000;
  min-height: 100px;
  max-height: 150px;
  min-width: 150px;
}

.ballot-title {
  min-height: 8vh;
}

.image-container {
  padding-bottom: 10px;
}

.select-ballot-button {
  background-color: #9a9a9a;
  color: #dcdcdc;
  min-height: 35px;
  margin-bottom: 10px;
}
