.App {
  text-align: center;
  background-color: #0d2436;
  color: #ffffff;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: 100% !important;
  min-height: 100%;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.category-title {
  border: 1px solid #000;
  background-color: #666666;
  margin-left: 25px;
  margin-right: 25px;
}

.caption-title {
  display: flex;
  justify-content: left;
  padding-left: 10px;
  font-size: 25px;
}

.App-link {
  color: #61dafb;
}

.submit-ballot-button {
  background-color: #bd9300;
  min-height: 50px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
}

.submit-ballot-button:hover {
  color: #cccccc;
}

.success-caption {
  font-size: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
